{% extends 'base.html' %}
{% block content %}
<div class="container product-detail mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ url_for('static', filename='images/' + product.image) }}" 
                 alt="{{ product.name }}" class="product-detail-image img-fluid rounded">
        </div>
        <div class="col-md-6">
            <h1>{{ product.name }}</h1>
            <p class="product-detail-price text-danger fs-3">¥{{ "%.2f"|format(product.price) }}</p>
            <div class="product-detail-description mt-4">
                <h3>商品详情</h3>
                <p>{{ product.description }}</p>
            </div>
            <form action="{{ url_for('add_to_cart', product_id=product.id) }}" method="post" class="mt-4">
                <button type="submit" class="btn btn-success">加入购物车</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}